@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.marker-cluster-small {
  background-color: rgba(0, 100, 255, 0.6) !important;
  color: white;
  border: 2px solid #0044cc;
}

.marker-cluster-medium {
  background-color: rgba(255, 165, 0, 0.7) !important;
  border: 2px solid orange;
}

.marker-cluster-large {
  background-color: rgba(255, 0, 0, 0.7) !important;
  border: 2px solid red;
}

.marker-cluster div {
  font-size: 16px;
  font-weight: bold;
}
