.marker-cluster-small {
  background-color: #2563eb !important; /* azul */
  color: white !important;
  border: 2px solid white;
  font-weight: bold;
}

.marker-cluster-medium {
  background-color: #facc15 !important; /* amarillo */
  color: black !important;
  border: 2px solid white;
  font-weight: bold;
}

.marker-cluster-large {
  background-color: #ef4444 !important; /* rojo */
  color: white !important;
  border: 2px solid white;
  font-weight: bold;
}

.marker-cluster div {
  font-size: 16px !important;
}
